[Desktop Entry]
Categories=Utility;
Exec=appdir/usr/Translation_Verification
Icon=default
Name=Translation Verification
Terminal=true
Type=Application
