[Desktop Entry]
Categories=Utility;
Exec=appdir/usr/bin/Translation_Verification_Start_Script.sh
Icon=default
Name=Translation Verification
Terminal=false
Type=Application
