<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Translation Verification</Name>
    <Version>1.0.0</Version>
    <Title>Translation Verification</Title>
    <Publisher>Austin Pennyfeather</Publisher>
    <WizardStyle>Aero</WizardStyle>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>TranslationVerification</StartMenuDir>
    <TargetDir>@HomeDir@/TranslationVerification</TargetDir>
</Installer>
